/*
  My CSS code for D3 and page styling. Nothing major.
*/

.xAxis path,
.xAxis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
}

.xAxis text {
    font-family: sans-serif;
    font-size: 11px;	
}

.yAxis path,
.yAxis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
}

.yAxis text {
    font-family: sans-serif;
    font-size: 11px;	
}

.circle {
    fill: #222;
}

.tooltip {
  	position: absolute;
  	width: 200px;
  	height: 28px;
 	pointer-events: none;
}
/* Sets everything in the body down 50px*/
body {
	padding-top: 50px;
	text-align: center;
}

#inputForm {
    padding-top: 50px;
}

/* Set a div id="requirements" to apply this style*/
#requirements {
	text-align: center;
	padding-left: 20px;
}

.focusedInput:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

.myHalfCol .leftSide {
    /*background-color: yellow;*/
}

.myHalfCol .rightSide {
    /*background-color: gray;*/
}

.noBullets {
    list-style-type: none;
}