<form id="inputForm" class="form-horizontal col-sm-offset-3">
  
	<div class="form-group">
		<label class="col-sm-2 control-label">ID</label>
		
		<div class="col-sm-4">
			<input class="form-control" placeholder="ID" ng-model="componentId">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Component</label>
		<div class="col-sm-4">
			<!-- Added this 'as' to set the value. Wasn't working before I added it -->
		  <select class="form-control" ng-model="componentSelect.value" ng-options="type.value as type.name for type in componentTypes"></select>
		</div>
	</div>

	  <div class="form-group">
		<label class="col-sm-2 control-label">Brand</label>
		<div class="col-sm-4">
		  <input class="form-control" placeholder="Brand" ng-model="brand">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Cost</label>
		<div class="col-sm-4">
		  <input class="form-control" placeholder="Cost" ng-model="cost">
		</div>
	</div>

	<div class="form-group"> 
		<label class="col-sm-2 control-label">Performance</label>
		<div class="col-sm-4">
		  <input class="form-control" placeholder="Performance" ng-model="performance">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Reliability</label>
		<div class="col-sm-4">
		  <input class="form-control" placeholder="Reliability" ng-model="reliability">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Height</label>
		<div class="col-sm-4">
		  <input class="form-control" placeholder="Height" ng-model="height">
		</div>
	</div>

	<div class="form-group">
	  <label class="col-sm-2 control-label">Width</label>
	  <div class="col-sm-4">
	    <input class="form-control" placeholder="Width" ng-model="width">
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-sm-2 control-label">Thickness</label>
	  <div class="col-sm-4">
	  	<input class="form-control" placeholder="Thickness" ng-model="thickness">
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-sm-2 control-label">Weight</label>
	  <div class="col-sm-4">
	  	<input class="form-control" placeholder="Weight" ng-model="weight">
	  </div>
	</div>

	<div class="form-group">
		  <label class="col-sm-2 control-label">Power Handling</label>
	  <div class="col-sm-4">
	  	<input class="form-control" placeholder="Power Handling" ng-model="powerHandling">
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-sm-2 control-label">Power Handling Min</label>
	  <div class="col-sm-4">
	  	<input class="form-control" placeholder="Power Handling Min" ng-model="powerHandlingMin">
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-sm-2 control-label">Power Handling Max</label>
	  <div class="col-sm-4">
	  	<input class="form-control" placeholder="Power Handling Max" ng-model="powerHandlingMax">
	  </div>
	</div>

	<div class="form-inline form-group">
	  <!-- Inputs list -->
	  <h5 ng-click="clearInputForm()">Inputs</h5>
	  <ul class="noBullets">
		<li ng-repeat="input in componentInputs">
		  <span ng-click="populateInput(input)">ID: {{input._id}} Type: {{input.type}} | Quantity: {{input.quantity}}</span>
	    </li>
	  </ul>

	  <!-- Outputs list -->
	  <h5 ng-click="clearOutputForm()">Outputs</h5>
	  <ul class="noBullets">
		<li ng-repeat="output in componentOutputs">
		  <span ng-click="populateOutput(output)">Type: {{output.type}} | Quantity: {{output.quantity}}</span>
	    </li>
	  </ul>

	  <!-- Inputs form -->
	  <label class="col-sm-2 control-label">Inputs</label>
	  <div class="col-sm-2">
		<input class="form-control" placeholder="Type" ng-model="inputType">
	  </div>
	  <div class="col-sm-3">
	    <input class="form-control" placeholder="Quantity" ng-model="inputQuantity">
	  </div>
	  <div class="col-sm-2">
	  	<input class="form-control" placeholder="ID" ng-model="inputId">
	  </div>
	  <div class="btn-group inline">
	  	<button class="btn btn-success" id="addInput" ng-click="">Add</button>
	  	<button class="btn btn-info" id="updateInput" ng-click="">Update</button>
	  	<button class="btn btn-danger" id="deleteInput" ng-click="deleteInput(componentId, inputId)">Delete</button>	  	
	  </div>
	</div>

	<!-- Outputs form -->
	<div class="form-inline form-group">
	  <label class="col-sm-2 control-label">Outputs</label>
	  <div class="col-sm-2">
	  	<input class="form-control" placeholder="Type" ng-model="outputType">
	  </div>
	  <div class="col-sm-3">
	  	<input class="form-control" placeholder="Quantity" ng-model="outputQuantity">
	  </div>
	  <div class="btn-group inline">
	  	<button class="btn btn-success" id="addOutput" ng-click="">Add</button>
	  	<button class="btn btn-info" id="updateOutput" ng-click="">Update</button>
	  	<button class="btn btn-danger" id="deleteOutput" ng-click="">Delete</button>
	  </div>
	</div>

	<div class="form-group">
	  <div class="col-sm-offset-3">
	  	<button class="btn btn-primary col-sm-2" id="updateComponent" ng-click="sendUpdates(componentId, componentSelect, brand, cost, performance, reliability, height, width, thickness, weight, powerHandling, powerHandlingMin, powerHandlingMax)">Update</button>
	  </div>

	  <div class="col-sm-offset-3">
	  	<button type="button" class="btn btn-danger col-sm-2" id="deleteComponent" ng-click="deleteComponent(componentId)">Delete</button>
	  </div>
	</div>
</form>