<div class="row">
	<form>
		<div>
			<label>Component</label>
			<select></select>
		</div>	
		<div>
			<label>Brand</label>
			<input>
		</div>
		<div>
			<label>Cost</label>
			<input>
		</div>
		<div> 
			<label>Performance</label>
			<input>
		</div>
		<div>
			<label>Reliability</label>
			<input>
		</div>
		<div>
			<label>Height</label>
			<input>
		</div>
		<div>
			<label>Width</label>
			<input>
		</div>
		<div>
			<label>Thickness</label>
			<input>
		</div>
		<div>
			<label>Weight</label>
			<input>
		</div>
		<div>
			<label>Power Handling</label>
			<input>
		</div>
		<div>
			<label>Power Handling Min</label>
			<input>
		</div>
		<div>
			<label>Power Handling Max</label>
			<input>
		</div>
		<div>
			<label>Inputs</label>
			<button>Add One</button>
		</div>
		<div>
			<label>Outputs</label>
			<button>Add One</button>
		</div>
		<button>Submit</button>
	</form>

	<button>Edit</button>
	<button>Delete</button>
</div>